.ThemeToggleButtons {
  animation: fadeIn 1s;

  .button {
    border: none;
    padding: 5px;
    color: var(--color-button-inactive);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: inherit;

    &:hover {
      background-color: var(--color-button-active-and-hover-background);
      color: var(--color-button-active);
    }

    &:not(:last-child) {
      margin-right: 5px;
    }

    &.active {
      color: var(--color-button-active);
      cursor: default;

      &:hover {
        background-color: initial;
        color: var(--color-button-active);
      }
    }
  }

  @media screen and (max-width: 700px) {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
